.navigation{
    margin-left: 1000px;
    border: solid px black;
}

.navegacion{
    border: solid px black;
    padding-top: 10px;
    display: flexbox;
    margin-left: 1200px;
    border: solid px black;
    display: flex;
    justify-content: space-between;
}

.navegacion a{
    text-decoration: none;
    color: black;
}

.gmail{
    border: solid px black;
}

.gmail a{
    text-decoration: none;
}

.imagenes{
    border: solid px black;
    display: inline;

}

.imagenesnav1{
    border: solid px black;
    width: 20px;

}

.imagenesnav2{
    border: solid px black;
    width: 35px;
    margin-top: -8px;
    margin-left: -10px;
    margin-right: 15px;


}

.logogoogle{
    border: solid px black;
    height: 92px;
    width: 272px;
    padding-top: 103px;
    margin-left: 580px;
}

input{
    border: none;
    width: 580px;
    height: 45px;
    margin-left: 430px;
    margin-top: 20px;
    border-radius: 60px;
    box-shadow: 1px 1px 5px #b1b3b5;
}


.lupa-buscador{
    border: solid px black;

}

.lupa{
    border: solid px black;
    width: 15px;
    color: #9AA0A6;
    margin-left: -570px;
    margin-bottom: -3px;
}

.microfono{
    border: solid px black;
    width: 15px;
    margin-left: 520px;
    margin-bottom: -4px;
}

.botonesabajo{
    margin-left: 540px;
    margin-top: 35px;
}

.boton1{
    background-color: #f2f2f2;
    margin-right: 10px;
    border: none;
    border-radius: 5px;

}
.boton2{
    background-color: #f2f2f2;
    border: none;
    border-radius: 5px;


}
.boton1 p{
    color: #5F6368;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 7px;
    margin-bottom: 7px;
    font-size: 15px;
}

.boton2 p{
    color: #5F6368;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 7px;
    margin-bottom: 7px;
    font-size: 15px;
}

.textoabajo{
    margin-left: 545px;
    margin-top: 30px;
}
.textoabajo p{
    font-size: 15px;
}

.En{
    color: #1a0dab;
    margin-left: 4px;
}

.Es{
    color: #1a0dab;
    margin-left: 6px;
}