h1{
    border: solid 1px black;
    width: 500px;
    height: 100px;
    margin-left: 450px;
    padding: 20px 200px 50px 200px;

}

p{
    border: solid 1px blue;

}

a{
    border: solid 1px purple;
    
}