/* Logotipo */

img{
    width: 40px;
    display: block;
    margin: auto;
    margin-top: 1.5em;
}

/* Texto inicia sesión en twitter */

h2{
    text-align: center;
    margin-top: 1.8em;
    
}

/* Sección usuario y contraseña */

.cuadro1{
     width: 550px; 
     height: 55px; 
     background: #f5f8fa;
     display: block;
     margin: auto;
     border-bottom: #627787 1.5px solid;
}

.cuadro1 p{
    color: #627787;
    margin: 0.5rem;
    margin-top: 1rem;
    padding-top: 5px;
}

.cuadro2{
    width: 550px; 
    height: 50px; 
    background: #f5f8fa;
    display: block;
    margin: auto;
    border-bottom: #627787 1.5px solid;
    margin-top: 20px;
}

.cuadro2 p{
    color: #627787;
    margin: 0.5rem;
    padding-top: 5px;
}

/* boton iniciar sesión */

.boton p{
    color: white;
    font-size: medium;
}
.boton{
    display: block;
    margin: auto;
    margin-top: 20px;
    background-color: #80cffb;
    border-radius: 50px;
    width: 550px;
    padding: 0px;
    border-bottom: none;
}

/* Letra azul debajo de boton iniciar sesión */

.olvidaste{
    text-align: center;
    color: #0092e4;
}

span{
    color: #0092e4;
    padding: 1px;
    margin: 1px;
}
