body{
    margin: 0;
    padding: 0cm;
}

/* CUADRO 1  */

.papa{
display: flex;
justify-content: space-around;
align-items: center;
height: 100vh;
width: 100vw;

}

.padre1{
    border: solid 1px black;
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    
}

.hijo1{
    border: solid 1px black;
    width: 30%;
    height: 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.hijo11 {
    border: solid 1px black;
    width: 30%;
    height: 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
    flex-direction: column;
}

.hijo12 {
    border: solid 1px black;
    width: 30%;
    height: 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
}


/* CUADRO 1  */



/* CUADRO 2  */


.nieto1{
    border: solid 1px black;
    width: 30%;
    height: 30%;

}

.padre2{
    border: solid 1px black;
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.hijo22{
    border: solid 1px black;
    width: 30%;
    height: 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
    flex-direction: column;
}

.hijo23{
    border: solid 1px black;
    width: 30%;
    height: 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
}

.hijo24{
    border: solid 1px black;
    width: 30%;
    height: 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
    flex-direction: column;
}


.nieto2{
    border: solid 1px black;
    width: 30%;
    height: 30%;
}